* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.top {
  height: 100vh;
  padding: 0 200px;
  background-color: #1F2937;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

#logo {
  text-decoration: none;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

header a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

header li {
  list-style: none;
}

header ul {
  margin-left: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.hero {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.hero h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero button {
  border-radius: 10px;
  padding: 10px 40px;
  color: #F9FAF8;
  font-weight: 600;
  background-color: #3882F6;
  border: none;
}

.left h1,
p{
  margin: 10px auto;
}